<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2017, 2020 ADLINK Technology Inc.
 
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0, or the Apache License, Version 2.0
  which is available at https://www.apache.org/licenses/LICENSE-2.0.
 
  SPDX-License-Identifier: EPL-2.0 OR Apache-2.0
 
  Contributors:
    ADLINK zenoh team, <zenoh@adlink-labs.tech>
-->

<!-- Configuration of Logback (backend for logging)                                 -->
<!-- See configuration manual here: http://logback.qos.ch/manual/configuration.html -->
<configuration>

  <!-- Appender redirecting logs to console on standard output -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- enable ANSI color codes on Windows hosts -->
    <withJansi>true</withJansi>
    <encoder>
      <!-- Pattern for output are explain here: http://logback.qos.ch/manual/layouts.html -->
      <!--   %higlight    : color the message depending it's level  -->
      <!--   %d{ }        : time with format                        -->
      <!--   %.-1level    : level (first character only)            -->
      <!--   %18.18thread : thread name (always 18 characters)      -->
      <!--   %20.20logger : logger name (always 20 characters)      -->
      <!--   %msg         : log message                             -->
      <!--   %n           : line separator (platform dependent)     -->
      <pattern>%highlight(%d{HH:mm:ss.SSS} %.-1level [%-18.18thread] %-20.20logger : %msg%n)</pattern>
    </encoder>
  </appender>

  <!-- By default activate WARN level and redirect logs to console              -->
  <!-- Log level can be changed in command line using the "log.level" property. -->
  <!-- (e.g.: java -Dlog.level=DEBUG ...)                                       -->
  <root level="${log.level:-WARN}">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>

